@media (max-width: 1680px){
    div.info_des2 h2{
        font-size: 80px;
    }
}
@media (max-width: 1380px){
    div.sports ul{
        justify-content: center;
    }
    header {
        height: 860px;
    }
    .main{
        margin: 0 5% auto;
    }
    .main_2{
        margin: 4% 5% auto;
    }
    span.secondTitle{
        font-size: 80px;
    }
    .content_div p {
        font-size: 15px;
    }
    .content_div2 p {
        font-size: 15px;
    }
    .firstTitle{
        font-size: 80px;
    }
    div.info_des h2{
        font-size: 50px;
        text-align: center;
    }
    div.info_des p {
        font-size: 19px;
        text-align: center;
    }
    div.info_des2 p {
        font-size: 19px;
        text-align: center;
    }
    div.info_des2 h2{
        font-size: 50px;
    }
}
@media (max-width: 1000px){
    div.info_content::after{
        content: ' ' attr(data-value) ' ';
        width: 80px;
        height: 80px;
        
    }
    .main {
        margin: 0 2% auto;
    }
    .main_2 {
        margin: 2% 3% auto;
    }
    .content{
        margin: 0 5% auto;
    }
    .content_div{
        width: 50%;
        justify-content: space-between
    }
    .content_div2{
        width: 50%;
        z-index: 2;
        justify-content: space-between;
    }
    .content_div h2{
        font-size: 50px;
    }
    .content_div h4{
        font-size: 25px;
    }
    .content_div2 h4{
        font-size: 25px;
    }
    .content_div p{
        font-size: 15px;
    }
    .content_div2 p{
        font-size: 15px;
    }
    .content_div2 h2{
        font-size: 50px;
    }
    .man_2 {
       position: relative;
       z-index: 0;
    }
    .man_2 img {
        transform: scale(0.8);
        position: absolute;
        right: -220px;
    }
    .man {
        width: 45%;
    }
    .man img {
        width: 100%;
    }
    .players {
        height: 100% !important;
        background-size: cover !important;
    }
    .athlets {
        height: 100% !important;
        background-size: cover !important;
    }
}
@media (max-width: 850px){
    div.info_des h2{
        font-size: 40px;
    }
    header {
    height: 100%;
    background-size: cover;
    background-position-x: 55%;
    }
    div.title span {
        font-size: 55px;
    }
    div.title {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    div.sports{
        margin-top: 15%;
    }
    div.sports ul{
        align-items: center;
    }
    div.sports ul li:first-child{
        padding: 0;
    }
    div.sports ul li a{
        font-size: 17px;
    }
    div.btnDowload{
        margin-bottom: 13%;
        justify-content: space-around;
    }
    div.btnDowload a div{
        width: 300px;
        height: 70px;
        margin: 0;
        justify-content: space-around
    }
    div.btnDowload a div span{
       font-size: 15px;
    }
    div.info_des2 h2{
        font-size: 40px;
    }
    div.info_des2 p{
        font-size: 15px;
    }
    div.info_des p{
        font-size: 15px;
    }
    .footer_footer div {
        display: none;
    }
    .footer_footer div.iii{
        display: flex;
        justify-content: space-between
    }
    div.footer_footer {
        justify-content: center;
        margin: 0;
        height: 10%;
    }
    section.footer{
        height: 900px;
    }
}
@media (max-width: 768px){
    nav {
        padding: 4% 0 ;
    }
    div.btnDowload{
        margin-bottom: 10%;
    }
    div.content {
        margin: 0 1.5% auto;
    }
    div.title{
       max-width: 500px;
    }
    div.help{
        display: flex;
        justify-content: center;
    }
    span.secondTitle{
       text-align: center;
    }
    div.man img {
        position: absolute;
        width: 40%;
        left: 0%;
    }
    div.man {
        width: 20%;
    }
    div.content_div{
        width: 65%;
    }
    div.content_div h2{
        display: flex;
        justify-content: center;
    }
    .content_div p{
        width: 376px;
    }
    .content_div div{
        align-items: center;
    }
    .man_2 img{
        position: absolute;
        transform: scale(0.6);
        top: -15%;
        right: -400px;
    }
    .content_div2 div{
        align-items: center;
        
    }
    .content_div2 {
       justify-content: space-between;
       min-height: 700px;
    }
    .content_div2 h2{
        text-align: center;
    }
    .info_content{
        flex-direction: column;
    }
    .info_img{
        width: 100%;
        height: 100%;
    }
    div.info_text{
        width: 100%;
    }
    div.info_text h2{
        font-size: 70px;
        text-align: start;
    }
    div.info_text{
        width: 100%;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 15% 4% ;
    }
    div.info_text p{
        margin-top: 2%;
        width: 100%;
        text-align: start;
        font-size: 20px;
        font-weight: 700;
    }
    div.info_content::after{
        left: 5%;
        top:50%;
    }
    div.info_content{
        align-items: flex-start;
    }
    div.info_content2 {
        flex-direction: column-reverse;
    }
   div.footer_title{
       flex-wrap: wrap;
       position: relative;
   }
   div.footer_title div{
    flex-basis: 100%;
    align-items: center;
    padding: 0;
    }
    div.footer_main{
        top: 10%;
    }
    div.footer_title img {
        padding-bottom: 50px;
    }
    div.btnDowload2{
        margin-top: 20%;
    }
    

}
@media (max-width: 610px){
    nav span {
        display: none;
    }
    nav {
        justify-content: center;
    }
    .btnDowload div{
        width: 270px !important;
    }
    .reverse{
        display: flex;
        flex-direction: column-reverse;
       
    }
    div.sports {
        margin-bottom: 30px;
        margin-top: 0;
        justify-content: center;
        display: flex;
    }
    div.sports ul li a{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    div.sports ul{
        flex-wrap: wrap;
        height: 80px;
        width: 84%;
        display: flex;
        justify-content: space-around;
        
    }
    div.sports ul li {
        padding-left: 50px;
    }
    div.sports ul li:last-child{
        padding-right: 10%;
        padding-left: 5%;
    }
    
}
@media (max-width: 320px){
    .secondTitle {
        font-size: 33px !important;
    }
    .btnDowload a div {
        width: 150px !important;
        height: 40px !important;
    }
    .btnDowload a div span{
       font-size: 8px !important; 
    }
    .sports ul li a{
        font-size: 12px !important;
    }
    .sports ul li{
        padding-left: 5% !important;
    }
    .btnDowload a div img{
        height: 30px;
     }
    .firstTitle {
        font-size: 33px !important;
    }
    .main{
        display: none;
    }
    .main_2{
        display: none;
    }
    .slider{
        display: block;
    }
    .slider_img {
        height: 300px;
        display: flex;
        justify-content: center;
    }
    .slider img {
        height: 100%;
    }
    .slider_header{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .slider_header h2{
       text-align: center;
       font-size: 34px;
       color: #817878;
    }
    section.athlets{
        background-size: auto !important;
        background-position-y: 920px;
    }
    section.players{
        background-size: auto !important;
        background-position-y: 920px;
    }
    div.info_content::after{
        display: none;
    }
    .info_text h2{
        font-size: 35px !important;
    }
    .info_text p{
        font-size: 12px !important;
    }
    .footer_title h2{
        font-size: 40px !important;
    }
    .footer_title p{
        font-size: 16px !important;
    }
    .footer_title img{
        width: 90px !important;
    }
    section.footer {
       height: 500px;
       background-position-y: 620px;
    }
}