@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Manjari', sans-serif;
    box-sizing: border-box;
	
}
.content{
    margin: 0 10% auto;
}
header {
    background: url(../img/header.webp);
    width: 100%;
    height: 960px;
    overflow: hidden;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
}
nav span {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 100;
}
.firstTitle{
    color: white;
    font-size: 100px;
    font-weight: bold;
    align-items: center;
}
.secondTitle{
    color: white;
    font-size: 100px;
    font-weight: bold;
}
.secondTitleDiv{
    display: flex;
    justify-content: flex-end;
}
.title {
    margin-top: 20%;
}
.sports ul li{
    list-style: none;
    color: #866ce9;
    font-size: 20px;
    padding-left: 44px;
}
.sports ul li a{
    text-decoration: none;
    color: #866ce9;
}
.sports ul {
    display: flex;
    justify-content: flex-end;
}

.btnDowload{
    display: flex;
    justify-content: center;
}
.btnDowload2{
    display: flex;
    justify-content: center;
}
.btnDowload div {
    display: flex;
    justify-content: space-around;
    background: #573fae;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    margin-right: 50px;
    align-items: center;
}
.btnDowload2 div {
    display: flex;
    justify-content: space-around;
    background: #573fae;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    margin-right: 50px;
    align-items: center;
}
.btnDowload2 div span {
    font-weight: 100;
    font-size: 10px;

}
.btnDowload div span {
    font-weight: 100;
    font-size: 10px;

}
.btnDowload2 div span.market {
    font-weight: 700;
    font-size: 12px;
}
.btnDowload div span.market {
    font-weight: 700;
    font-size: 12px;
}
.btnDowload2 a div {
    text-decoration: none;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,1);
}
.btnDowload a div {
    text-decoration: none;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,1);
}
.btnDowload2 a{
    text-decoration: none;
  
}
.btnDowload a{
    text-decoration: none;
  
}
.btnDowload2{
    margin-top: 10%;
}
.btnDowload{
    margin-top: 10%;
}
/* section */
section.athlets {
    background: url(../img/section.webp);
    height: 959px;
}
.main {
    margin: 0 10% auto; 
    display: flex;
    justify-content: space-between;
}
.content_div {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.content_div h2{
    color: #c0c0c0;
    font-size: 70px;
    padding-top: 4%;
 }
 .content_div h4{
    color: #c0c0c0;
    font-size: 30px;
    margin-bottom: 1%;
 }
 .content_div p{
    font-weight: 700;
    font-size: 20px;
 }
 .whiteText{
     color: white;
 }
 h4 {
     position: relative;
 }
 .content_div h4::before{
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 5px;
    border-radius: 4px;
    background: #e7930b;
    transition: 0.2s
 }
.content_div h4:hover::before{
    width: 100%;
 }
 .tabs__nav div{
     width: 13px;
     height: 13px;
     background: silver;
     border-radius: 50%;
 }
 .tabs__nav .is-active{
     background: #5c3caf;
 }
 .tabs__nav .is-active2{
    background: #5c3caf;
}
 .item.is-active {
    display: block;
    animation: fadeInLeft 1s;   
}
.item.is-active2 {
    display: block;
    animation: fadeInRight 1s;   
}
.slider{
    display: none;
}
.item{
    display: none;
    min-height: 129px;
}
 .item h4{
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
    color: #817878;
 }
 .item p {
     font-weight: 500;
 }
 .item {
     padding: 0 4%;
 }
 .slider_main {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .tabs__nav{
     display: flex;
     justify-content: space-between;
     width: 20%;
     padding: 5% 0;
 }
 .content_div div {
     display: flex;
     flex-wrap: wrap;
     flex-basis: 150px;
     flex-direction: column;
     justify-content: flex-start;
 }
.man{
    padding-top: 3%;
    background: url(../img/palka.png), url(../img/plus.png),url(../img/plus.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 75% 25%, 20% 15%, 17% 14%;
}

 /* section */
 .players {
     background: url(../img/section2.webp);
     height: 954px;
     overflow: hidden;
 }
 .man_2 {
    background: url(../img/nigapalka.png),url(../img/nigapalka.png), url(../img/plus.png), url(../img/plus.png),url(../img/plus.png);
    background-position: 35% 80%, right top, 320px 120px, 335px 135px, 700px 400px;
    background-repeat: no-repeat,no-repeat;
    position: relative;
 }

 .main_2 {
    margin: 3% 10% auto; 
    display: flex;
    justify-content: space-between;
    
 }
.content_div2  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 800px;
}
.content_div2 div{
    display: flex;
     flex-wrap: wrap;
     flex-basis: 150px;
     flex-direction: column;
     justify-content: flex-start;
}
.content_div2 h2{
    color: #c0c0c0;
    font-size: 70px;

 }
 .content_div2 h4{
    color: #c0c0c0;
    font-size: 30px;
    margin-bottom: 1%;
 }
 .content_div2 p{
    font-weight: 700;
    font-size: 20px;
 }

/* adasdasda */
.info_content {
    display: flex;
    justify-content: center;
}
.info {
    overflow: hidden;
}
.info_content div{
    position: relative;
}
.info_content {
    position: relative;
}
.info_block{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.info_content::after{
    content: ' ' attr(data-value) ' ';
    width: 120px;
    height: 120px;
    color: white;
    font-size: 25px;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #573fae;
    z-index: 10;
}

.info_block2{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.info_des{
    position: relative;
   
}
.info_des2{
    position: relative;
}
.info_des2 h2{
    color:#c0c0c0;
    font-size: 90px;
    text-align: center;
}
.info_des2 p{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10%;
}
.info_des h2{
    color:#c0c0c0;
    font-size: 90px;
}
.info_des p{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10%;
    max-width: 660px;
}
section.info img{
width: 100%;
height: 100%;
}
.info_img{
    width: 50%;
}
.info_text {
    width: 50%;
}
/* dasdasd */
section.footer {
    background: url(../img/fotter.jpg);
    height: 953px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.footer_main{
   position: relative;
   top: 30%;
}
.footer_title{
    display: flex;
    justify-content: center;
}
.footer_title div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 2%;
}
.footer_title div h2{
    color: white;
    font-size: 60px;
}
.footer_title div p{
    color: #5c5a86;
    font-size: 30px;
    font-weight: bold;
    max-height: 34px;
}
.footer_footer{
   color: white;
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: 15%;
   align-items: center;
   background: #0a0e34;
}
div.iii {
    display: flex;
    justify-content: space-between;
    min-width: 150px;
}
@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(100px);
        -moz-transform: translatex(100px);
        -o-transform: translatex(100px);
        transform: translatex(100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}















